* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1.2rem
}

.meme-gallery-IMG {
    border-radius: 3px;
    object-fit: contain;
    max-height: 100px;
    width: auto;
}

.imgs-container {
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    row-gap: 0.4rem;
}

.canvas-container {
    /* display: block; */
    /* height: 100vh; */
    width: 50%;
    padding: 20px 3px;
}


/* helper */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}